# =========================================================================
# 1. DEPENDENCIAS
# =========================================================================
node_modules/
.pnp
.pnp.js

dist/

# =========================================================================
# 2. CONSTRUCCIÓN (Next.js)
# =========================================================================
.next/
out/

# =========================================================================
# 3. ARCHIVOS DE ENTORNO (secretos)
# =========================================================================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =========================================================================
# 4. TIPADO Y CACHÉ
# =========================================================================
*.tsbuildinfo
next-env.d.ts

# =========================================================================
# 5. ARCHIVOS DEL SISTEMA (OS)
# =========================================================================
.DS_Store
Thumbs.db
